# dependencies
node_modules/

# build output
dist/
build/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing / coverage
coverage/

# prisma
prisma/generated/

# IDE / OS
.DS_Store
.vscode/
.idea/

# misc
*.tsbuildinfo
